<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <mirrors>
        <mirror>
            <id>eclipse-mirror</id>
            <mirrorOf>eclipse</mirrorOf>
            <url>https://download.eclipse.org/rt/eclipselink/maven.repo</url>
        </mirror>
        <mirror>
            <id>releases.java.net-mirror</id>
            <mirrorOf>releases.java.net</mirrorOf>
            <url>https://maven.java.net/content/repositories/releases/</url>
        </mirror>
        <mirror>
          <id>jvnet-nexus-staging-mirror</id>
           <url>https://maven.java.net/content/repositories/staging/</url>
          <mirrorOf>jvnet-nexus-staging</mirrorOf>
        </mirror>
        <mirror>
            <id>spring-releases-mirror</id>
            <url>https://artifacts-oss.talend.com/nexus/content/repositories/public</url>
            <mirrorOf>spring-releases</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>github</id>
            <configuration>
                <httpHeaders>
                    <property>
                        <name>Authorization</name>
                        <value>Bearer ${env.GITHUB_TOKEN}</value>
                    </property>
                </httpHeaders>
            </configuration>
        </server>
    </servers>
    <profiles>
        <profile>
            <id>talend-properties</id>
            <activation>
                <property>
                    <name>autoconfig</name>
                    <value>!false</value>
                </property>
            </activation>
            <properties>
                <license.skipAddThirdParty>true</license.skipAddThirdParty>
                <buildRootDir>${maven.multiModuleProjectDirectory}/build</buildRootDir>
                <storage>${buildRootDir}/storage</storage>
                <product.build.id>${product.final.name}</product.build.id>
                <repo.type>Release</repo.type>
                <osgi.compatible.version>${base.version}</osgi.compatible.version>
                <maven.compatible.version>${base.version}</maven.compatible.version>
            </properties>
        </profile>
        <profile>
            <id>github</id>
            <activation>
                <property>
                    <name>env.GITHUB_ACTIONS</name>
                    <value>true</value>
                </property>
            </activation>
            <repositories>
                <repository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/${env.GITHUB_REPOSITORY}</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>github</id>
                    <url>https://maven.pkg.github.com/${env.GITHUB_REPOSITORY}</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                    <releases>
                        <enabled>true</enabled>
                    </releases>
                </pluginRepository>
            </pluginRepositories>
        </profile>
    </profiles>
    <activeProfiles>
        <!-- This profile allows us to import properties from the product.properties file -->
        <activeProfile>official</activeProfile>
    </activeProfiles>
</settings>
