<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd"
          xmlns="http://maven.apache.org/SETTINGS/1.1.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <mirrors>
        <mirror>
            <id>central-mirror</id>
            <name>central-mirror</name>
            <mirrorOf>central</mirrorOf>
            <url>https://artifacts-oss.talend.com/nexus/content/repositories/public</url>
        </mirror>
        <mirror>
            <id>default-mirror</id>
            <mirrorOf>default</mirrorOf>
            <url>https://artifacts-oss.talend.com/nexus/content/repositories/public</url>
        </mirror>
        <mirror>
            <id>eclipse-mirror</id>
            <mirrorOf>eclipse</mirrorOf>
            <url>https://download.eclipse.org/rt/eclipselink/maven.repo</url>
        </mirror>
        <mirror>
            <id>releases.java.net-mirror</id>
            <mirrorOf>releases.java.net</mirrorOf>
            <url>https://maven.java.net/content/repositories/releases/</url>
        </mirror>
        <mirror>
          <id>jvnet-nexus-staging-mirror</id>
           <url>https://maven.java.net/content/repositories/staging/</url>
          <mirrorOf>jvnet-nexus-staging</mirrorOf>
        </mirror>
        <mirror>
            <id>spring-releases-mirror</id>
            <url>https://artifacts-oss.talend.com/nexus/content/repositories/public</url>
            <mirrorOf>spring-releases</mirrorOf>
        </mirror>
    </mirrors>
    <servers>
        <server>
            <id>advanova-release</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
        <server>
            <id>advanova-snapshot</id>
            <username>${env.ARTIFACTORY_USER}</username>
            <password>${env.ARTIFACTORY_PASSWORD}</password>
        </server>
    </servers>
</settings>